<div class ="row">
  <div class="col-xs-12">
    <div class = "jumbotron">
      <h1>Username</h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <p>Fleets</p>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Your timeline is currently empty.
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Who to Follow</p>
      </div>
    </div>
  </div>

  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Trends</p>
      </div>
    </div>
  </div>
</div>
